<section class="funcionamento">
  <app-titulo titulo="Funcionamento"></app-titulo>
  <div class="localizacao">
    <div class="localizado">
      <fa-icon [icon]="icons.localizacao"></fa-icon>
      <p>Localizado em Custódia - PE</p>
    </div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15800.537251084368!2d-37.64967733933475!3d-8.08778242668528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7a7b8aaa24429f3%3A0x6820633397943afe!2sCust%C3%B3dia%2C%20PE%2C%2056640-000!5e0!3m2!1spt-BR!2sbr!4v1695235233893!5m2!1spt-BR!2sbr"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
  <div class="atendimento">
    <img
      src="../../../../assets/imgs/gifs/time.gif"
      alt="Gif de homem esperando"
    />
    <ul class="info">
      <h1>Horário de atendimento</h1>
      <li>
        <fa-icon [icon]="icons.calendario"></fa-icon>
        <p>Segunda-feira a sexta-feira</p>
      </li>
      <li>
        <fa-icon [icon]="icons.relogio"></fa-icon>
        <p>08:00 às 18:00</p>
      </li>
    </ul>
  </div>
</section>
