<footer>
  <div class="footer-box">
    <div class="logo">
      <img
        id="logo-no-name"
        src="../../../assets/imgs/logo-no-name.png"
        alt="Logo vidromec"
      />
      <img src="../../../assets/imgs/logo-vidromec.png" alt="Logo vidromec" />
    </div>
    <div class="content-info">
      <ul class="info-box">
        <li class="title">Funcionamento</li>
        <li>
          <fa-icon [icon]="icones.localizacao"></fa-icon>
          <p>Custódia - PE e região</p>
        </li>
        <li>
          <fa-icon [icon]="icones.relogio"></fa-icon>
          <p>Segunda-feira - Sexta-feira</p>
        </li>
        <li>
          <fa-icon [icon]="icones.relogio"></fa-icon>
          <p>08:00 às 18:00</p>
        </li>
      </ul>
      <ul class="info-box">
        <li class="title">Redes sociais</li>
        <li>
          <fa-icon [icon]="icones.instagram"></fa-icon>
          <p>@vidromec</p>
        </li>
        <li>
          <fa-icon [icon]="icones.facebook"></fa-icon>
          <p>vidromec</p>
        </li>
      </ul>
      <ul class="info-box">
        <li class="title">Sessões</li>
        <li>
          <p>Produtos</p>
        </li>
        <li>
          <p>Portifólio</p>
        </li>
        <li>
          <p>Contato</p>
        </li>
        <li>
          <p>Funcionamento</p>
        </li>
      </ul>
      <ul class="info-box">
        <li class="title">Fale conosco</li>
        <li>
          <fa-icon [icon]="icones.email"></fa-icon>
          <p>vidracaria.vidromec@gmail.com</p>
        </li>
        <li>
          <fa-icon [icon]="icones.telefone"></fa-icon>
          <p>(87) 99906-5337</p>
        </li>
        <li>
          <fa-icon [icon]="icones.telefone"></fa-icon>
          <p>(87) 99936-1683</p>
        </li>
      </ul>
    </div>
    <p class="direitos-autorais">
      Todos os Direitos Reservados © 2023 Vidraçaria Vidromec
    </p>
  </div>
  <div class="dev-info">
    <ul>
      <li>
        <fa-icon [icon]="icones.dev"></fa-icon>
        <p>Desenvolvido por Emanoel Figuerêdo</p>
      </li>
      <li>
        <fa-icon [icon]="icones.web"></fa-icon>
        <p>www.efigueredo.vercel.com</p>
      </li>
    </ul>
  </div>
</footer>
