.footer-box {
  background-color: #000000;
  color: #fff;
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  font-size: 14px;
  font-weight: 300;
}

ul {
  list-style: none;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo-no-name {
  height: 40px;
}

.logo img {
  height: 30px;
}

.content-info {
  display: grid;
  grid-template-columns: auto auto;
  gap: 32px;
}

.content-info  a {
  color: #fff;
  text-decoration: none;
}

.title {
  font-weight: 700;
  text-transform: uppercase;
}

.info-box {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.info-box li {
  display: flex;
  gap: 0.55em;
}

.dev-info {
  background-color: var(--yellow);
  padding: 16px 32px;

}

.dev-info ul {
  display: flex;
  gap: 1.4em;
  justify-content: center;
  font-size: 14px;
  text-align: center;
}

.direitos-autorais {
  width: 100%;
  text-align: center;
}

.click {
  cursor: pointer;
}

.dev-info a {
  text-decoration: none;
  color: black;
  display: flex;
  gap: 0.5em;
}

@media screen and (min-width: 700px) {
  .content-info {
    grid-template-columns: auto auto auto auto;
    max-width: 800px;
  }
}

@media screen and (min-width: 900px) {
  .footer-box {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-box {
    font-size: 18px;
  }
}

