<header>
  <fa-icon
    id="barras"
    [icon]="icones.bars"
    (click)="trocarEstadoNavBar()"
  ></fa-icon>
  <img
    id="logo"
    src="../../../../assets/imgs/logo-vidromec.png"
    alt="Logo da vidraçaria Vidromec"
  />
  <ul class="categorias">
    <li (click)="emitirEventoAlterarSessao('SERVICO')">Serviços</li>
    <li (click)="emitirEventoAlterarSessao('PORTIFOLIO')">Portifólio</li>
    <li (click)="emitirEventoAlterarSessao('FUNCIONAMENTO')">Funcionamento</li>
    <li
      class="categoria-nao-selecionada"
      (click)="emitirEventoAlterarSessao('CONTATO')"
    >
      Faça um orçamento
    </li>
    <li (click)="emitirEventoAlterarSessao('CONTATO')">Contato</li>
  </ul>
  <ul class="social-medias">
    <li>
      <ul (click)="emitirEventoAlterarSessao('CONTATO')" class="telefones">
        <li>(87) 99906-5337</li>
        <li>(87) 99936-1683</li>
      </ul>
    </li>
    <li><fa-icon [icon]="icones.instagram"></fa-icon></li>
    <li><fa-icon id="icon-facebook" [icon]="icones.facebook"></fa-icon></li>
    <li (click)="emitirEventoAlterarSessao('CONTATO')"><fa-icon [icon]="icones.whatsapp"></fa-icon></li>
  </ul>
</header>
