<aside [class]="obterClasseNavbar()">
  <ul>
    <li (click)="emitirEventoAlterarSessao('SERVICO')">
      <fa-icon [icon]="icons.servico"></fa-icon>
      Serviços
    </li>
    <li (click)="emitirEventoAlterarSessao('PORTIFOLIO')">
      <fa-icon [icon]="icons.portifolio"></fa-icon>
      Portifólio
    </li>
    <li (click)="emitirEventoAlterarSessao('FUNCIONAMENTO')">
      <fa-icon [icon]="icons.funcionamento"></fa-icon>
      Funcionamento
    </li>
    <li (click)="emitirEventoAlterarSessao('CONTATO')">
      <fa-icon [icon]="icons.contato"></fa-icon>
      Contato
    </li>
  </ul>
</aside>
<div [class]="obterClasseBackdrop()"></div>
