.box-servicos {
  margin: 0 auto;
  width: 100%;
  clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
  background-color: #F2E7DC;
  padding: 68px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
  gap: 32px;
  padding: 0 32px;
}

.grid-item {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-item img {
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .box-servicos {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    background-color: transparent;
    padding: 0 32px 32px 32px;
    border: none;
  }

  .content {
    max-width: 1000px;
  }
}
