<section class="contato">
  <div class="content">
    <h1>Clique em algum canal de comunicação</h1>
    <div class="cards">
      <a class="card telefone1" href="https://wa.me/5587999065337">
        <fa-icon [icon]="icones.whatsapp" size="2x"></fa-icon>
        <h3>Whatsapp - Jade</h3>
        <p>(87) 99906-5337</p>
      </a>
      <a class="card telefone2" href="https://wa.me/5587999361683">
        <fa-icon [icon]="icones.whatsapp" size="2x"></fa-icon>
        <h3>Whatsapp - Emanoel</h3>
        <p>(87) 99936-1683</p>
      </a>
      <div class="card insta">
        <fa-icon [icon]="icones.instagram" size="2x"></fa-icon>
        <h3>Instagram</h3>
        <p>@vidromec</p>
      </div>
      <div class="card facebook">
        <fa-icon [icon]="icones.facebook" size="2x"></fa-icon>
        <h3>Facebook</h3>
        <p>vidromec</p>
      </div>
      <a class="card email" href=mailto:vidracaria.vidromec@gmail.com>
        <fa-icon [icon]="icones.email" size="2x"></fa-icon>
        <h3>E-mail</h3>
        <p>vidracaria.vidromec@gmail.com</p>
      </a>
    </div>
  </div>
</section>
