<section class="contato">
  <div class="content">
    <div class="cards">
      <div class="card telefone1">
        <fa-icon [icon]="icones.whatsapp" size="2x"></fa-icon>
        <h3>Whatsapp - Jade</h3>
        <p>(87) 99906-5337</p>
      </div>
      <div class="card telefone2">
        <fa-icon [icon]="icones.whatsapp" size="2x"></fa-icon>
        <h3>Whatsapp - Emanoel</h3>
        <p>(87) 99936-1683</p>
      </div>
      <div class="card insta">
        <fa-icon [icon]="icones.instagram" size="2x"></fa-icon>
        <h3>Instagram</h3>
        <p>@vidromec</p>
      </div>
      <div class="card facebook">
        <fa-icon [icon]="icones.facebook" size="2x"></fa-icon>
        <h3>Facebook</h3>
        <p>vidromec</p>
      </div>
      <div class="card email">
        <fa-icon [icon]="icones.email" size="2x"></fa-icon>
        <h3>E-mail</h3>
        <p>vidracaria.vidromec@gmail.com</p>
      </div>
    </div>
  </div>
</section>
